#container {
    position: fixed;
    right: 10px;
    }
    .portals {
        height: 200px;
        margin: 30px;
    }
    body{
         background-image: url("assets/paris.jpeg");
    }
    #header{
        color: white;
        text-align: center;
        background-size: 100vh;
        width: 100vw;
    }
  